.props{
    display: flex;
    gap: 10px;
    .icon{
        display: flex;
        align-items: center;
    }
}

.download{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
    .icons{
        display: flex;
        align-items: center;
    }
}