.container{
    display: flex;
    gap: 30px;
    /* background-color: aquamarine; */
    align-items: center;
    
}
.left{
    display: flex;
    flex-direction: column;
    width: 600px;
    .btn{
        margin-top: 20px;
        
    }
    .bttn{
        display: flex;
        align-items: center;
        gap: 10px;
    }
   
}
.imgg{
    height: 300px;
    width: 300px;
    
    .logo2{
        max-width: 100%;
        max-height: 100%;
    }
}